# <center> Data Cleaning EDA </center>
##### <center> Not Production </center>

In [118]:
import numpy as np
import pandas as pd

In [119]:
rawData = pd.read_csv("../Data/RawData/Browse-ai-csv/Browse AI attempt day 1 - 250 rows - 2024-09-26.csv")

In [120]:
rawData.shape

(250, 8)

In [121]:
rawData.head()

,Position,Business Title,Location,Description,Asking Price,Cash Flow,Listing URL,Image
0,1,Established Pharmacy Franchise for Sale - Own ...,"Toronto, ON",This pharmacy is a leading supplier in the loc...,"$1,100,000",NaN,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
1,2,Premium Men's Barbershop & Lifestyle Brand,"Toronto, ON","Based in Toronto, Ontario, the company operate...","$580,000","$165,000",https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
2,3,Automated Ai Lending Business In Ontario For Sale,"Whitby, ON",This is an exceptional opportunity to purchase...,"$325,000",NaN,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
3,4,Profitable Established Landscaping/Constructio...,"Vaughan, ON","This well-established, turnkey, and profitable...","$2,195,000","$400,000",https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
4,5,Auto wreckers/recyclers/Auto parts store/Auto ...,"BURFORD, ON","Profitable Auto Recyclers, auto parts store ju...","$6,900,000",NaN,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...

## General Data Cleaning

### # Drop NA rows.

Rows that are entirely empty need to be deleted.

The NaN empty rows with empty Titles but the remaining fields filled are ads. Typically broker ads like sunlight brokers who I actually approached for a particular business.

In [122]:
# Drop rows that are empty in the Business Title field. Check how many rows remain.
rawData.dropna(subset=["Business Title"]).shape

(234, 8)

In [123]:
print('Rows removed', rawData.shape[0] - rawData.dropna(subset=["Business Title"]).shape[0])

Rows removed 16

In [124]:
# Check if all the rows that were retained were correct.
rawData.dropna(subset=["Business Title"])["Business Title"].values

array(['Established Pharmacy Franchise for Sale - Own Health and Wealth!',
       "Premium Men's Barbershop & Lifestyle Brand",
       'Automated Ai Lending Business In Ontario For Sale',
       'Profitable Established Landscaping/Construction Company 2-3 Year ROI',
       'Auto wreckers/recyclers/Auto parts store/Auto sales/repair shop',
       'World Gym',
       'Canadian Digital Marketing Agency with Immense Expansion Potential',
       'Established Home Inspection Business',
       'Digital Billboard Company for Sale',
       'Profitable Stone Supplier with Quality Inventory', 'MaidPro',
       'Established 24-Year Franchise Coffee Shop with Drive-Thru & Dine-In',
       'Amazon Proof, Multi-Unit Automotive Franchise in Toronto, ON',
       'Well-Established Promotional Products Franchise',
       'Prime Location Vending Machines â€“ Profits from Day One!',
       'Regional Trailer Dealer',
       'Highly Profitable, Established Roofing & Renovation Business',
       'Tint World Mississauga - Automotive Styling Business For Sale!',
       'Safe Manufacturing Business for Sale',
       'Dog Daycare and Grooming Business with 90% Repeat Customers For Sale',
       "Established Supplier to Federal Gov't Departments and Agencies",
       'Mathnasium', 'Premier Specialty Pet Store',
       'Land Surveying & Engineering Business in Eastern Ontario',
       'Premier Automotive and Tire Service Centre',
       'High-End Kitchen & Cabinetry Design Studio',
       'Well-Established Bike Retail and Service Business',
       'Well-established Profitable Deli', 'European Style Bakery',
       'A Complete Dog Care Centre',
       'Sign Company with Municipal and Top Retail Clients',
       'Thriving Car Repair Business in the GTA', 'Closet Factory',
       'Established Digital Marketing Agency for Sale',
       'Well established kitchenware boutique in upscale Toronto neighbourhood',
       'Profitable roofing company for sale',
       'Car Dealership Investment / Franchise opportunity',
       'Premier Bridal Boutique in Toronto',
       'Fitness Machine Technicians',
       'Turnkey Opportunity in Sarnia â€“ Available for Sale!',
       'Toronto (North), ON - Express Employment Resale Available',
       'Popular Bakery Cafe and Market Place',
       'Turn-key, Profitable Building Supply and Hardware Business',
       'Maintenance of Trucking, Construction and Farm Equipment Business',
       'Thriving Multi-Location Travel Agency',
       'Reputable and well established Log Home Restoration Company for sale',
       'Pallet Express',
       'Successful, Growing Flexible Workspace in Oakville Now Available',
       'Stone Fabrication and Installation Business', 'ERA Group',
       'Mathnasium Learning Centre for Sale, ON, Canada (2255513)',
       'Opportunity to Own a Thriving, Innovative Health Clinic in Ontario, CA',
       'Mississauga Education Agency for Sale $50,000',
       'Funeral Home For Sale',
       'Simple Side Business, Passive, No Selling Whatsoever',
       'Paul Davis Restoration',
       'Well Established Sylvan Learning Center for Sale in Georgetown',
       'Sylvan Education Franchise Opportunity for Resale in Hamilton',
       '4MM+ Inv. Incl. Industrial Equip/Machinery Global Biz',
       'Commercial Landscape & Snow Removal Business w/ Supply Center',
       'Modern Furniture & Home Decor Online Business',
       'Music Learning Centre',
       'Reputable Produce Wholesaler and Distributor',
       'Private Parking Enforcement Company',
       'Profitable Franchaise For Sale', 'Popular Bakery and Coffee Shop',
       'MaidPro', 'Profitable Auto Parts Importer and Distributor',
       '20+ Years Old Street Cleaning Business',
       'Established Pharmacy Franchise for Sale - Own Health and Wealth!',
       'Trendy Resale Apparel Outlet in High-Traffic Area',
       'Successful Wholesale Poultry Distribution Business',
       'Recruitment Services Agency | $4.6M 2024F Revenue',
       'Prime Furniture Supplier Business for Sale',
       'Apparel Manufacturer And Distributor | $4.6m 2024 Revenue',
       'Turn-Key Medical Spa in Prime Downtown Toronto',
       '2 Year Wait List - Occupational Therapy Business For Sale',
       'Mathnasium',
       'Profitable Residential HVAC Company in Southwest Ontario',
       '40 years old C- Store for sale for only 500k',
       "Premium Men's Barbershop & Lifestyle Brand",
       'Reputable Butcher Shop Business for Sale near Ottawa',
       'Manufacturer of Racking Systems for IT and Servers',
       'Established Manufacturing Business -- Machine Shop',
       'Boston Pizza for Sale in a Popular Shopping District',
       'Well Established Outdoor Supplies and Equipment Wholesale / Retailer',
       'Gardening and Hydroponics Retail/Online Business',
       'Rare 6 FedEx Linehaul Dedicated Solo Runs',
       'Fitness Machine Technicians', 'Car Accessories Manufacturer',
       'Profitable & Established Franchise Fitness Studio & Gym In Niagara Reg',
       'Automated Ai Lending Business In Ontario For Sale',
       'Profitable Real Estate Digital Media Company In Northern Ontario',
       'Canadaâ€™s #1 Artificial Garden Centre with 21% SDE For Sale',
       'Get In Shape For Women',
       'Profitable Manufacturing Business â€” Machine Shop',
       'High-End Childrens Clothing E-Commerce Wholesaler 42% SDE',
       "Premier Women's Fashion Boutique",
       'Commercial Snow Removal and Property Maintenance Company',
       'Solar Energy Systems and Solutions Plus',
       'Turnkey Salon and Beauty Supply Business with Passive Ownership',
       'Lifestyle Magazine Publisher',
       'Profitable Established Landscaping/Construction Company 2-3 Year ROI',
       'Well-Established Kids STEM Franchisee York Region DOUBLE-DIGIT Growth',
       'Poured-In-Place Rubber Surfacing Company - 15+ year legacy',
       'FS Cut & Color', 'Cannabis retail opportunity',
       'Manufacturer of Prefabricated Sheds & Small Buildings',
       'Highly Profitable Electrical Business in Southern Ontario',
       'Automotive Business For Sale',
       'Trusted supplier and distributor of HVAC products',
       'Kitchener-Waterloo, ON, Compilations/Tax/Bookkeeping Book of Business',
       'Profitable, Fun, Business opportunity',
       'Specialized Certificate Training & Event Agency',
       'Profitable Laser and Medspa Business for Sale',
       'Paul Davis Restoration', 'Seasonal Mobile Home + Water Park',
       'The Brick Franchise Store in Cottage Country',
       '30+ Year Industrial Distributor & Wholesale',
       'Thriving, Highly Profitable Commercial Cleaning Business For Sale',
       'Profitable Courier & Delivery Service',
       'Pet Food & Supplies - National Franchise In Ontario',
       'Established Residential Framing Company with Growth Potential',
       'Profitable Machine Shop, Owner Retiring!!',
       'Highly Rated Pet Grooming/Daycare For Sale',
       'Earn Big With A Well Established Promotional Printing Business',
       'Deka Lash', '35 Year Old Bike Shop For Sale- Owner Retiring!!',
       'Money Making Fitness Studio',
       'Auto wreckers/recyclers/Auto parts store/Auto sales/repair shop',
       'Reputable Senior Homecare Business', 'Century Old Heritage Hotel',
       'New High-Tech Hologram Zoo Entertainment - Global Opportunity',
       'Nationally Recognized Bakery/Distribution Company For Sale',
       'Established Coffee Shop and Flower business',
       'London, ON, Bookkeeping, Tax & Payroll Practice for Sale',
       'Hanover, ON, Compilation, Bookkeeping & Tax Practice for Sale',
       'Get In Shape For Women',
       'High Percentage Contract Based Taxi Service For Sale',
       'Turnkey Pizza Restaurant', 'World Gym',
       'High End Pizza Restaurant',
       'Specialized and Highly Profitable Plumbing Business',
       'Great Canadian Online Hobby Store',
       'Industrial, Commercial Maintenance Services',
       'Profitable, fast growing Senior Care / Residential Care SaaS',
       'Winery in Canada For Sale',
       'Award-Winning Interior Renovation & Design Company',
       'FS Cut & Color', 'Oakville- ON - CPA Book of Clients For Sale',
       'Amazing Opportunity in Picton!',
       'Canadian Digital Marketing Agency with Immense Expansion Potential',
       'Rare! FedEx Linehaul runs in Canada',
       'York Region ON CPA Practice For Sale', 'JUNK CHUCKERS',
       'Southern Ontario ON Compilation, Bookkeeping and Tax Practice for sale',
       'York Region ON Professional Corporation CPA Practice For Sale',
       'Industrial Cleaning Equipment - Sales & Service',
       'Multi Discipline Wellness & Physio Centre',
       'South Etobicoke Excellent Window Blinds, Draperies & Shutters, Home Ba',
       'South Brampton Excellent Window Blinds, Draperies & Shutters, Home Bas',
       'Port Perry Excellent Window Blinds, Draperies & Shutters, Home Based R',
       'Oakville Excellent Window Blinds, Draperies & Shutters, Home Based Res',
       'Extremely Profitable Hot Tub Sales and Service Business',
       'MaidPro',
       'Home Space Optimization and Improvement Franchise Resale',
       'Precision Electronic Connectors/Adaptors Design and Manufacture',
       'Niche and Profitable Woodworking Manufacturer',
       'Longtime Hair Salon & Spa In KW and Cambridge Region',
       'CNC Low and High Machining Manufacturer',
       'Concrete Forming Business in Mississauga',
       'Renovations Supply Store',
       'Profitable CNC and Tooling Shop in GTA',
       'Well Established Tile Importer and Wholesaler/Retailer For Sale',
       'Closet Factory',
       'Unique Sporting Collectibles and Cards Business',
       'SaaS Video Messaging and Testimonials Product for Businesses',
       'Turnkey Medicine Delivery Service Business',
       '2 FedEx Linehaul Routes - Ottawa, ON, Canada - Highly Profitable',
       'Premier Courier and Cartage Company',
       'Wireless Technology Solutions Business For Sale',
       'Established Plastic Cutting and Distribution Company',
       'Profitable Coffee & Tea Retail Distributor',
       'Turnkey Profitable Industrial Repair Shop for Sale',
       'Two Established Boston Pizza Locations in Prime City',
       'Hand & Stone Massage and Facial Spa',
       'Leading Architectural Signage Manufacturing and Installation Business',
       'Smart Home Automation Company â€“ 28-year legacy',
       'Profitable, Niche General Contractor and Millwork Business For Sale',
       'Profitable Neighbourhood Bar & Kitchen',
       'Injection Mold Parts Manufacturer',
       'Custom Glass, Shower and Mirror Installation Company',
       'Renowned Auto Repair Business â€“ Turnkey Investment',
       'Safety and Communication Solutions in Senior Care Industry',
       'High Earning & Reputable Hair Salon: Absentee Ownership/Passive Income',
       'Closet Factory',
       'Highly Profitable Award-Winning Beauty Supply Store and Salon',
       'Top Performing School Catering and Wholesale Bakery',
       'Licensed Turnkey Montessori',
       'Profitable and Turnkey Event Venue Business for Sale',
       'Profitable and Popular Franchise Convenience Store',
       'Unique Opportunity in the Retail Sector',
       'Profitable and successful franchise print shop with a 38 year history',
       'Well-Established and Lucrative Commercial Disposal Business',
       'Profitable Trendsetting Medical Spa', 'Sport Clips',
       'Profitable Boston Pizza Franchise - SW Ontario',
       'High-Earning Hydrovac Business with Strong Industry Presence',
       'Large & Small Format Printer',
       'Popular and Profitable Middle Eastern Food Outlet', 'VentureX',
       'Established Multi-Store Retail Business for Sale',
       'Upscale Italian Delicatessen and Retail Grocery and Food Outlet',
       'Commercial Cleaning Company',
       'Established & Profitable Importers & Distributors of Household Product',
       'Boutique Pet Store & Grooming Chain (3 locations!)',
       'Scuba Diving Training Centre for Sale',
       '37 Yr Well Established Jewellery Business',
       'Reputable General Contractors and Construction Managers',
       'Brand New Online Private High School',
       'Club Z! Tutoring Services',
       'Established Payday Loan + Western Union Services Business',
       'Established Window and Door Business',
       'Premier Franchise Opportunity in Accessibility Solutions',
       'Cutting-Edge Sports and Game Management Platform',
       'Profitable and Thriving Hostel in Premier Location',
       'Premier Sandblasting and Paint Services Business',
       'Leading Dancewear and Activewear Retailer',
       'Award Winning Instant Imprints Franchise',
       'Retail Bakery & Coffee Shop - Unique and Profitable',
       'The Cleaning Authority',
       'Remunerative and Leading Online Auction House',
       'Digital Marketing Agency with Proven Track Record',
       'Interior Architecture & Design Management'], dtype=object)

In [125]:
# Check that all the rows that were removed were correct ones.

rawData[rawData['Business Title'].isna()]

,Position,Business Title,Location,Description,Asking Price,Cash Flow,Listing URL,Image
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,NaN,Serving Ontario,Mark is passionate about working with both ind...,NaN,NaN,https://www.bizbuysell.com/business-broker/mar...,https://images.bizbuysell.com/shared/brokerdir...
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,48,NaN,Serving Ontario,Our team advises North American business owner...,NaN,NaN,https://www.bizbuysell.com/business-broker/sco...,https://images.bizbuysell.com/shared/brokerdir...
65,66,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,78,NaN,Serving Ontario,Part of the worldâ€™s largest business brokerage...,NaN,NaN,https://www.bizbuysell.com/business-broker/pin...,https://images.bizbuysell.com/shared/brokerdir...
89,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,108,NaN,Serving Ontario,We are a full service business broker with ove...,NaN,NaN,https://www.bizbuysell.com/business-broker/joh...,https://images.bizbuysell.com/shared/brokerdir...
129,130,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,142,NaN,Serving Ontario,"Helping you Buy, Build, Sell your Business is ...",NaN,NaN,https://www.bizbuysell.com/business-broker/sar...,https://images.bizbuysell.com/shared/brokerdir...
153,154,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,172,NaN,Serving Ontario,Sunbelt Business Brokers,NaN,NaN,https://www.bizbuysell.com/business-broker/jac...,https://images.bizbuysell.com/shared/brokerdir...
192,193,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,205,NaN,Serving Ontario,Mark is passionate about working with both ind...,NaN,NaN,https://www.bizbuysell.com/business-broker/mar...,https://images.bizbuysell.com/shared/brokerdir...
216,217,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,235,NaN,Serving Ontario,Businesses Toronto is a prominent business bro...,NaN,NaN,https://www.bizbuysell.com/business-broker/ste...,https://images.bizbuysell.com/shared/brokerdir...

In [126]:
rawData0 = rawData.dropna(subset=['Business Title'])
print(rawData0.shape)

(234, 8)

In [127]:
# Write the cleaned dataset to data folder.
#rawData0.to_csv('../Data/CleanData/cleanData.csv') # Do not need this as the helper function below works amazingly. Alhamdullilah.

In [128]:
# Helper function 1. Pass the cleaned data and it will write it to the correct folder with the correct file name.

def write_clean_data_to_folder(cleanData):
    cleanData.to_csv('../Data/CleanData/cleanData.csv', index=False)

In [129]:
write_clean_data_to_folder(rawData0)

## Clean Each Data Field / Column

### # Asking Price

In [130]:
rawData0.loc[ :, ["Asking Price"]]

    Asking Price
0     $1,100,000
1       $580,000
2       $325,000
3     $2,195,000
4     $6,900,000
..           ...
245     $305,000
246      $50,000
247   $1,650,000
248     $275,000
249   $7,800,000

[234 rows x 1 columns]

In [131]:
# Show Rows with alphabets in them

rawData0["Asking Price"]

0      $1,100,000
1        $580,000
2        $325,000
3      $2,195,000
4      $6,900,000
          ...
245      $305,000
246       $50,000
247    $1,650,000
248      $275,000
249    $7,800,000
Name: Asking Price, Length: 234, dtype: object

In [132]:
rawData0["Asking Price"].dropna().values

array(['$1,100,000', '$580,000', '$325,000', '$2,195,000', '$6,900,000',
       '$2,199,900', '$900,000', '$45,000', '$870,000', '$45,000',
       '$299,000', '$5,500,000', '$280,000', '$40,000', '$2,000,000',
       '$250,000', '$298,000', '$220,000', '$695,000', '$112,000',
       '$750,000', '$1,300,000', '$1,029,000', '$275,000', '$750,000',
       '$490,000', '$375,000', '$725,000', '$199,590', '$1,100,000',
       '$200,000', '$500,000', '$150,000', '$1,100,000', '$50,000',
       '$850,000', '$50,000', '$75,000', '$340,000', '$499,000',
       '$3,200,000', '$690,000', '$1,500,000', '$525,000', '$250,000',
       '$494,450', '$285,000', '$100,000', '$275,000', '$375,000',
       '$50,000', '$3,200,000', '$26,900', '$500,000', '$99,000',
       '$99,000', '$5,000,000', '$67,000', '$425,000', '$495,000',
       '$1,200,000', '$299,999', '$230,000', '$45,000', '$2,000,000',
       '$550,000', '$375,000', '$800,000', 'Cash Flow: $700,000',
       '$150,000', '$450,000', '$349,000', '$112,000', '$3,500,000',
       '$489,000', '$750,000', '$4,200,000', '$750,000', '$1,400,000',
       '$890,000', '$1,000,000', '$2,250,000', '$50,000', '$1,200,000',
       '$350,000', '$350,000', '$740,000', '$40,000', '$600,000',
       '$549,000', '$1,200,000', '$1,350,000', '$140,000', '$275,000',
       '$295,000', '$490,000', '$50,000', '$128,000', '$1,070,000',
       '$3,700,000', '$169,000', '$195,000', '$1,500,000', '$149,000',
       '$1,175,000', '$225,000', '$500,000', '$22,500,000', '$3,450,000',
       '$1,100,000', '$3,500,000', '$650,000', '$449,999',
       'Cash Flow: $1,800,000', '$2,196,300', '$599,000', '$400,000',
       '$100,000', '$90,000', '$440,000', '$850,000', '$4,700,000',
       '$400,000', '$2,400,000', '$370,000', '$300,000', '$375,000',
       '$40,000', '$1,500,000', '$224,000', '$224,000', '$2,150,000',
       '$215,000', '$1,100,000', '$1,500,000', '$3,806,374', '$1,350,000',
       '$50,000', '$229,000', '$75,000', '$800,000', '$600,000',
       '$65,000', '$1,275,000', '$2,200,000', '$690,000', '$290,000',
       '$175,000', '$100,000', '$180,000', '$257,500', '$3,700,000',
       '$45,000', '$735,940', '$2,500,000', '$1,200,000', '$350,000',
       '$1,000,000', '$500,000', '$450,000', '$375,000', '$863,000',
       '$200,000', '$250,000', 'Cash Flow: $592,328', '$265,000',
       '$1,000,000', '$625,000', '$983,000', '$5,000,000', '$195,000',
       '$1,590,000', '$1,000,000', '$150,000', '$950,000', '$500,000',
       '$7,500,000', '$225,000', '$10,000,000', '$750,000', '$1,251,000',
       '$350,000', '$200,000', '$720,000', '$1,650,000', '$480,000',
       '$600,000', '$110,000', '$1,100,000', '$270,000', '$1,800,000',
       '$550,000', '$200,000', '$825,000', '$2,900,000', '$450,000',
       '$430,000', '$250,000', '$6,600,000', '$490,000',
       'Cash Flow: $300,000', '$600,000', '$1,100,000', '$650,000',
       '$499,000', '$1,000,000', '$85,000', '$30,000', '$300,000',
       '$1,200,000', '$395,000', '$95,000', '$1,200,000', '$595,000',
       '$125,000', '$200,000', '$305,000', '$50,000', '$1,650,000',
       '$275,000', '$7,800,000'], dtype=object)

In [133]:
# Remove everything except numbers, dollar sign and commas.

# This tells what to remove. This works for the current dataset but not scalable as it is like hard coding.
rawData0["Asking Price"].dropna().str.replace(r"[a-zA-Z: ]",'').values

C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\238923451.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  rawData0["Asking Price"].dropna().str.replace(r"[a-zA-Z: ]",'').values

array(['$1,100,000', '$580,000', '$325,000', '$2,195,000', '$6,900,000',
       '$2,199,900', '$900,000', '$45,000', '$870,000', '$45,000',
       '$299,000', '$5,500,000', '$280,000', '$40,000', '$2,000,000',
       '$250,000', '$298,000', '$220,000', '$695,000', '$112,000',
       '$750,000', '$1,300,000', '$1,029,000', '$275,000', '$750,000',
       '$490,000', '$375,000', '$725,000', '$199,590', '$1,100,000',
       '$200,000', '$500,000', '$150,000', '$1,100,000', '$50,000',
       '$850,000', '$50,000', '$75,000', '$340,000', '$499,000',
       '$3,200,000', '$690,000', '$1,500,000', '$525,000', '$250,000',
       '$494,450', '$285,000', '$100,000', '$275,000', '$375,000',
       '$50,000', '$3,200,000', '$26,900', '$500,000', '$99,000',
       '$99,000', '$5,000,000', '$67,000', '$425,000', '$495,000',
       '$1,200,000', '$299,999', '$230,000', '$45,000', '$2,000,000',
       '$550,000', '$375,000', '$800,000', '$700,000', '$150,000',
       '$450,000', '$349,000', '$112,000', '$3,500,000', '$489,000',
       '$750,000', '$4,200,000', '$750,000', '$1,400,000', '$890,000',
       '$1,000,000', '$2,250,000', '$50,000', '$1,200,000', '$350,000',
       '$350,000', '$740,000', '$40,000', '$600,000', '$549,000',
       '$1,200,000', '$1,350,000', '$140,000', '$275,000', '$295,000',
       '$490,000', '$50,000', '$128,000', '$1,070,000', '$3,700,000',
       '$169,000', '$195,000', '$1,500,000', '$149,000', '$1,175,000',
       '$225,000', '$500,000', '$22,500,000', '$3,450,000', '$1,100,000',
       '$3,500,000', '$650,000', '$449,999', '$1,800,000', '$2,196,300',
       '$599,000', '$400,000', '$100,000', '$90,000', '$440,000',
       '$850,000', '$4,700,000', '$400,000', '$2,400,000', '$370,000',
       '$300,000', '$375,000', '$40,000', '$1,500,000', '$224,000',
       '$224,000', '$2,150,000', '$215,000', '$1,100,000', '$1,500,000',
       '$3,806,374', '$1,350,000', '$50,000', '$229,000', '$75,000',
       '$800,000', '$600,000', '$65,000', '$1,275,000', '$2,200,000',
       '$690,000', '$290,000', '$175,000', '$100,000', '$180,000',
       '$257,500', '$3,700,000', '$45,000', '$735,940', '$2,500,000',
       '$1,200,000', '$350,000', '$1,000,000', '$500,000', '$450,000',
       '$375,000', '$863,000', '$200,000', '$250,000', '$592,328',
       '$265,000', '$1,000,000', '$625,000', '$983,000', '$5,000,000',
       '$195,000', '$1,590,000', '$1,000,000', '$150,000', '$950,000',
       '$500,000', '$7,500,000', '$225,000', '$10,000,000', '$750,000',
       '$1,251,000', '$350,000', '$200,000', '$720,000', '$1,650,000',
       '$480,000', '$600,000', '$110,000', '$1,100,000', '$270,000',
       '$1,800,000', '$550,000', '$200,000', '$825,000', '$2,900,000',
       '$450,000', '$430,000', '$250,000', '$6,600,000', '$490,000',
       '$300,000', '$600,000', '$1,100,000', '$650,000', '$499,000',
       '$1,000,000', '$85,000', '$30,000', '$300,000', '$1,200,000',
       '$395,000', '$95,000', '$1,200,000', '$595,000', '$125,000',
       '$200,000', '$305,000', '$50,000', '$1,650,000', '$275,000',
       '$7,800,000'], dtype=object)

In [134]:
# This tells what to keep. Removes everything else. Much better.

# Do not drop NAs as need equal length rows when replacing column with cleaned version.
#rawData["Asking Price"].dropna.str.replace(r"[^0-9$,]",'').values
print(len(rawData0["Asking Price"].str.replace(r"[^0-9]",'').values)) # Remove "$" and "," so it can be read in as a number. 
rawData0["Asking Price"].str.replace(r"[^0-9$,]",'').values

234

C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\1088363804.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  print(len(rawData0["Asking Price"].str.replace(r"[^0-9]",'').values)) # Remove "$" and "," so it can be read in as a number.
C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\1088363804.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  rawData0["Asking Price"].str.replace(r"[^0-9$,]",'').values

array(['$1,100,000', '$580,000', '$325,000', '$2,195,000', '$6,900,000',
       '$2,199,900', '$900,000', '$45,000', nan, '$870,000', '$45,000',
       '$299,000', '$5,500,000', '$280,000', '$40,000', '$2,000,000', nan,
       '$250,000', '$298,000', '$220,000', '$695,000', '$112,000',
       '$750,000', '$1,300,000', '$1,029,000', '$275,000', '$750,000',
       '$490,000', '$375,000', '$725,000', '$199,590', '$1,100,000',
       '$200,000', '$500,000', '$150,000', '$1,100,000', '$50,000',
       '$850,000', '$50,000', '$75,000', '$340,000', '$499,000',
       '$3,200,000', '$690,000', '$1,500,000', '$525,000', '$250,000',
       '$494,450', '$285,000', '$100,000', '$275,000', '$375,000',
       '$50,000', '$3,200,000', '$26,900', '$500,000', '$99,000',
       '$99,000', '$5,000,000', nan, '$67,000', '$425,000', '$495,000',
       '$1,200,000', '$299,999', '$230,000', '$45,000', '$2,000,000',
       '$550,000', nan, '$375,000', '$800,000', '$700,000', '$150,000',
       nan, '$450,000', '$349,000', '$112,000', '$3,500,000', '$489,000',
       nan, '$750,000', '$4,200,000', '$750,000', '$1,400,000',
       '$890,000', '$1,000,000', '$2,250,000', '$50,000', '$1,200,000',
       '$350,000', nan, '$350,000', '$740,000', '$40,000', '$600,000',
       '$549,000', '$1,200,000', nan, '$1,350,000', '$140,000',
       '$275,000', nan, '$295,000', '$490,000', '$50,000', '$128,000',
       '$1,070,000', '$3,700,000', '$169,000', '$195,000', '$1,500,000',
       '$149,000', '$1,175,000', '$225,000', '$500,000', '$22,500,000',
       '$3,450,000', '$1,100,000', '$3,500,000', '$650,000', '$449,999',
       '$1,800,000', '$2,196,300', '$599,000', '$400,000', '$100,000',
       '$90,000', '$440,000', nan, '$850,000', '$4,700,000', '$400,000',
       '$2,400,000', '$370,000', '$300,000', '$375,000', '$40,000',
       '$1,500,000', '$224,000', nan, '$224,000', '$2,150,000',
       '$215,000', '$1,100,000', '$1,500,000', '$3,806,374', '$1,350,000',
       '$50,000', '$229,000', '$75,000', nan, '$800,000', '$600,000',
       '$65,000', '$1,275,000', '$2,200,000', '$690,000', '$290,000',
       '$175,000', '$100,000', '$180,000', '$257,500', '$3,700,000',
       '$45,000', '$735,940', '$2,500,000', '$1,200,000', '$350,000',
       '$1,000,000', '$500,000', '$450,000', '$375,000', '$863,000',
       '$200,000', '$250,000', '$592,328', '$265,000', '$1,000,000',
       '$625,000', '$983,000', '$5,000,000', '$195,000', '$1,590,000',
       '$1,000,000', '$150,000', '$950,000', '$500,000', '$7,500,000',
       '$225,000', '$10,000,000', nan, '$750,000', '$1,251,000',
       '$350,000', '$200,000', '$720,000', '$1,650,000', '$480,000',
       '$600,000', '$110,000', '$1,100,000', '$270,000', '$1,800,000',
       '$550,000', '$200,000', '$825,000', '$2,900,000', '$450,000',
       '$430,000', '$250,000', '$6,600,000', '$490,000', '$300,000',
       '$600,000', '$1,100,000', '$650,000', '$499,000', '$1,000,000',
       '$85,000', '$30,000', '$300,000', '$1,200,000', '$395,000',
       '$95,000', '$1,200,000', '$595,000', '$125,000', '$200,000',
       '$305,000', '$50,000', '$1,650,000', '$275,000', '$7,800,000'],
      dtype=object)

In [135]:
# Create new dataset to put the clean Asking Price column
rawData1 = rawData0
rawData1["Asking Price"] = rawData0["Asking Price"].str.replace(r"[^0-9]",'').values

# Do not need the code below. Do not need to copy the cleaned data under the var cleanData as we only needed this to write the data to CleanData folder.
# cleanData = rawData1
# cleanData # The Cleaned version of the data after every cleaning.

write_clean_data_to_folder(rawData1)
rawData1

C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\744097688.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  rawData1["Asking Price"] = rawData0["Asking Price"].str.replace(r"[^0-9]",'').values
C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\744097688.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawData1["Asking Price"] = rawData0["Asking Price"].str.replace(r"[^0-9]",'').values

,Position,Business Title,Location,Description,Asking Price,Cash Flow,Listing URL,Image
0,1,Established Pharmacy Franchise for Sale - Own ...,"Toronto, ON",This pharmacy is a leading supplier in the loc...,1100000,NaN,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
1,2,Premium Men's Barbershop & Lifestyle Brand,"Toronto, ON","Based in Toronto, Ontario, the company operate...",580000,"$165,000",https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
2,3,Automated Ai Lending Business In Ontario For Sale,"Whitby, ON",This is an exceptional opportunity to purchase...,325000,NaN,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
3,4,Profitable Established Landscaping/Constructio...,"Vaughan, ON","This well-established, turnkey, and profitable...",2195000,"$400,000",https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
4,5,Auto wreckers/recyclers/Auto parts store/Auto ...,"BURFORD, ON","Profitable Auto Recyclers, auto parts store ju...",6900000,NaN,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
...,...,...,...,...,...,...,...,...
245,246,Retail Bakery & Coffee Shop - Unique and Profi...,"Ottawa, ON",**All dollar amounts are USD. All cash busines...,305000,"$305,000",https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
246,247,The Cleaning Authority,Available in Canada,Investing in The Cleaning Authority franchise ...,50000,NaN,https://www.bizbuysell.com/franchise-for-sale/...,https://images.bizbuysell.com/fnw/images/369/3...
247,248,Remunerative and Leading Online Auction House,"SW Ontario, ON",This reliable online auction business speciali...,1650000,"$331,000",https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
248,249,Digital Marketing Agency with Proven Track Record,"Home Based, ON",Explore an exclusive opportunity to step into ...,275000,"$93,000",https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
249,250,Interior Architecture & Design Management,"Toronto, ON","The Firmsâ€™ services include interior styling, ...",7800000,"$1,563,546",https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...

In [136]:
print(len(rawData1["Asking Price"].values))
rawData1["Asking Price"].values

234

array(['1100000', '580000', '325000', '2195000', '6900000', '2199900',
       '900000', '45000', nan, '870000', '45000', '299000', '5500000',
       '280000', '40000', '2000000', nan, '250000', '298000', '220000',
       '695000', '112000', '750000', '1300000', '1029000', '275000',
       '750000', '490000', '375000', '725000', '199590', '1100000',
       '200000', '500000', '150000', '1100000', '50000', '850000',
       '50000', '75000', '340000', '499000', '3200000', '690000',
       '1500000', '525000', '250000', '494450', '285000', '100000',
       '275000', '375000', '50000', '3200000', '26900', '500000', '99000',
       '99000', '5000000', nan, '67000', '425000', '495000', '1200000',
       '299999', '230000', '45000', '2000000', '550000', nan, '375000',
       '800000', '700000', '150000', nan, '450000', '349000', '112000',
       '3500000', '489000', nan, '750000', '4200000', '750000', '1400000',
       '890000', '1000000', '2250000', '50000', '1200000', '350000', nan,
       '350000', '740000', '40000', '600000', '549000', '1200000', nan,
       '1350000', '140000', '275000', nan, '295000', '490000', '50000',
       '128000', '1070000', '3700000', '169000', '195000', '1500000',
       '149000', '1175000', '225000', '500000', '22500000', '3450000',
       '1100000', '3500000', '650000', '449999', '1800000', '2196300',
       '599000', '400000', '100000', '90000', '440000', nan, '850000',
       '4700000', '400000', '2400000', '370000', '300000', '375000',
       '40000', '1500000', '224000', nan, '224000', '2150000', '215000',
       '1100000', '1500000', '3806374', '1350000', '50000', '229000',
       '75000', nan, '800000', '600000', '65000', '1275000', '2200000',
       '690000', '290000', '175000', '100000', '180000', '257500',
       '3700000', '45000', '735940', '2500000', '1200000', '350000',
       '1000000', '500000', '450000', '375000', '863000', '200000',
       '250000', '592328', '265000', '1000000', '625000', '983000',
       '5000000', '195000', '1590000', '1000000', '150000', '950000',
       '500000', '7500000', '225000', '10000000', nan, '750000',
       '1251000', '350000', '200000', '720000', '1650000', '480000',
       '600000', '110000', '1100000', '270000', '1800000', '550000',
       '200000', '825000', '2900000', '450000', '430000', '250000',
       '6600000', '490000', '300000', '600000', '1100000', '650000',
       '499000', '1000000', '85000', '30000', '300000', '1200000',
       '395000', '95000', '1200000', '595000', '125000', '200000',
       '305000', '50000', '1650000', '275000', '7800000'], dtype=object)

### # Cash Flow

In [137]:
# Create new dataset to put the clean Asking Price column
rawData2 = rawData1
rawData2["Cash Flow"] = rawData1["Cash Flow"].str.replace(r"[^0-9]",'').values
rawData2

C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\96076970.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  rawData2["Cash Flow"] = rawData1["Cash Flow"].str.replace(r"[^0-9]",'').values
C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\96076970.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawData2["Cash Flow"] = rawData1["Cash Flow"].str.replace(r"[^0-9]",'').values

,Position,Business Title,Location,Description,Asking Price,Cash Flow,Listing URL,Image
0,1,Established Pharmacy Franchise for Sale - Own ...,"Toronto, ON",This pharmacy is a leading supplier in the loc...,1100000,NaN,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
1,2,Premium Men's Barbershop & Lifestyle Brand,"Toronto, ON","Based in Toronto, Ontario, the company operate...",580000,165000,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
2,3,Automated Ai Lending Business In Ontario For Sale,"Whitby, ON",This is an exceptional opportunity to purchase...,325000,NaN,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
3,4,Profitable Established Landscaping/Constructio...,"Vaughan, ON","This well-established, turnkey, and profitable...",2195000,400000,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
4,5,Auto wreckers/recyclers/Auto parts store/Auto ...,"BURFORD, ON","Profitable Auto Recyclers, auto parts store ju...",6900000,NaN,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
...,...,...,...,...,...,...,...,...
245,246,Retail Bakery & Coffee Shop - Unique and Profi...,"Ottawa, ON",**All dollar amounts are USD. All cash busines...,305000,305000,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
246,247,The Cleaning Authority,Available in Canada,Investing in The Cleaning Authority franchise ...,50000,NaN,https://www.bizbuysell.com/franchise-for-sale/...,https://images.bizbuysell.com/fnw/images/369/3...
247,248,Remunerative and Leading Online Auction House,"SW Ontario, ON",This reliable online auction business speciali...,1650000,331000,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
248,249,Digital Marketing Agency with Proven Track Record,"Home Based, ON",Explore an exclusive opportunity to step into ...,275000,93000,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...
249,250,Interior Architecture & Design Management,"Toronto, ON","The Firmsâ€™ services include interior styling, ...",7800000,1563546,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...

In [138]:
rawData2["Cash Flow"].values

array([nan, '165000', nan, '400000', nan, nan, '221999', nan, '391214',
       '312000', nan, nan, '8750000', '86674', '50000', '840000', nan,
       nan, '110000', '43000', '216578', nan, '192073', nan, '229000',
       '76566', nan, '302000', '247003', '220349', '66530', '355000', nan,
       '162000', '75000', nan, nan, '150000', nan, nan, nan, '255228',
       '85000', '257106', '387000', '350000', nan, '142087', '90000', nan,
       nan, '129279', nan, nan, nan, nan, nan, nan, '527088', '12298',
       nan, '181400', '182000', '400000', nan, nan, nan, '740000',
       '293000', nan, '160000', '436000', '700000', nan, nan, nan,
       '95000', nan, '800000', '179000', nan, nan, '1410581', '254000',
       nan, '250000', '231607', '495000', nan, '350000', '125000', nan,
       '125000', '316000', nan, '220000', '197000', nan, nan, '543675',
       '71053', nan, nan, '90000', '155122', nan, nan, '375000',
       '1040000', nan, nan, nan, nan, '465000', nan, nan, '1400000',
       '262000', '310000', '869347', '250000', nan, '1800000', '620000',
       '169290', '165000', nan, '79000', '130603', nan, '330308',
       '270524', '900000', '324092', nan, nan, nan, nan, '441887', nan,
       nan, nan, '796479', '71000', '304000', '167635', nan, '440000',
       nan, nan, nan, nan, '228633', nan, nan, nan, nan, '307620',
       '128641', nan, nan, nan, nan, '910216', nan, '257000', '639000',
       '392022', '100000', '408000', nan, nan, nan, '210516', nan,
       '174776', '592328', '117882', '319811', '305000', '307096',
       '1000000', '90000', '489790', '195004', nan, '315487', '259000',
       '2018405', '70000', nan, nan, '276000', '358000', '386000', nan,
       '624000', '1100000', nan, '316000', '55000', '460000', '128000',
       '512000', '175000', nan, '201465', '547701', nan, '235980', nan,
       nan, '302000', '300000', '359000', nan, '181321', nan, nan, nan,
       nan, nan, '477000', '155000', nan, '362000', nan, nan, nan,
       '305000', nan, '331000', '93000', '1563546'], dtype=object)

In [139]:
write_clean_data_to_folder(rawData2)

### # P/E Ratio

In [15]:
print(rawData2["Asking Price"].values)
rawData2["Asking Price"].values

['1100000' '580000' '325000' '2195000' '6900000' nan '2199900' '900000'
 '45000' nan '870000' '45000' '299000' '5500000' '280000' '40000'
 '2000000' nan nan '250000' '298000' '220000' '695000' '112000' '750000'
 '1300000' '1029000' '275000' '750000' nan '490000' '375000' '725000'
 '199590' '1100000' '200000' '500000' '150000' '1100000' '50000' '850000'
 '50000' '75000' '340000' '499000' '3200000' '690000' nan '1500000'
 '525000' '250000' '494450' '285000' '100000' '275000' '375000' '50000'
 '3200000' '26900' '500000' '99000' '99000' '5000000' nan '67000' nan
 '425000' '495000' '1200000' '299999' '230000' '45000' '2000000' '550000'
 nan '375000' '800000' nan '700000' '150000' nan '450000' '349000'
 '112000' '3500000' '489000' nan '750000' '4200000' nan '750000' '1400000'
 '890000' '1000000' '2250000' '50000' '1200000' '350000' nan '350000'
 '740000' '40000' '600000' '549000' '1200000' nan '1350000' nan '140000'
 '275000' nan '295000' '490000' '50000' '128000' '1070000' '3700000'
 '169000' '195000' '1500000' '149000' '1175000' '225000' '500000'
 '22500000' '3450000' '1100000' '3500000' '650000' nan '449999' '1800000'
 '2196300' '599000' '400000' '100000' '90000' '440000' nan '850000'
 '4700000' nan '400000' '2400000' '370000' '300000' '375000' '40000'
 '1500000' '224000' nan '224000' '2150000' nan '215000' '1100000'
 '1500000' '3806374' '1350000' '50000' '229000' '75000' nan '800000'
 '600000' '65000' '1275000' '2200000' '690000' '290000' '175000' nan
 '100000' '180000' '257500' '3700000' '45000' '735940' '2500000' '1200000'
 '350000' '1000000' '500000' '450000' '375000' '863000' '200000' '250000'
 '592328' '265000' '1000000' '625000' nan '983000' '5000000' '195000'
 '1590000' '1000000' '150000' '950000' '500000' '7500000' '225000'
 '10000000' nan nan '750000' '1251000' '350000' '200000' '720000'
 '1650000' '480000' '600000' '110000' '1100000' nan '270000' '1800000'
 '550000' '200000' '825000' '2900000' '450000' '430000' '250000' '6600000'
 '490000' '300000' '600000' '1100000' '650000' '499000' '1000000' nan
 '85000' '30000' '300000' '1200000' '395000' '95000' '1200000' '595000'
 '125000' '200000' '305000' '50000' '1650000' '275000' '7800000']

array(['1100000', '580000', '325000', '2195000', '6900000', nan,
       '2199900', '900000', '45000', nan, '870000', '45000', '299000',
       '5500000', '280000', '40000', '2000000', nan, nan, '250000',
       '298000', '220000', '695000', '112000', '750000', '1300000',
       '1029000', '275000', '750000', nan, '490000', '375000', '725000',
       '199590', '1100000', '200000', '500000', '150000', '1100000',
       '50000', '850000', '50000', '75000', '340000', '499000', '3200000',
       '690000', nan, '1500000', '525000', '250000', '494450', '285000',
       '100000', '275000', '375000', '50000', '3200000', '26900',
       '500000', '99000', '99000', '5000000', nan, '67000', nan, '425000',
       '495000', '1200000', '299999', '230000', '45000', '2000000',
       '550000', nan, '375000', '800000', nan, '700000', '150000', nan,
       '450000', '349000', '112000', '3500000', '489000', nan, '750000',
       '4200000', nan, '750000', '1400000', '890000', '1000000',
       '2250000', '50000', '1200000', '350000', nan, '350000', '740000',
       '40000', '600000', '549000', '1200000', nan, '1350000', nan,
       '140000', '275000', nan, '295000', '490000', '50000', '128000',
       '1070000', '3700000', '169000', '195000', '1500000', '149000',
       '1175000', '225000', '500000', '22500000', '3450000', '1100000',
       '3500000', '650000', nan, '449999', '1800000', '2196300', '599000',
       '400000', '100000', '90000', '440000', nan, '850000', '4700000',
       nan, '400000', '2400000', '370000', '300000', '375000', '40000',
       '1500000', '224000', nan, '224000', '2150000', nan, '215000',
       '1100000', '1500000', '3806374', '1350000', '50000', '229000',
       '75000', nan, '800000', '600000', '65000', '1275000', '2200000',
       '690000', '290000', '175000', nan, '100000', '180000', '257500',
       '3700000', '45000', '735940', '2500000', '1200000', '350000',
       '1000000', '500000', '450000', '375000', '863000', '200000',
       '250000', '592328', '265000', '1000000', '625000', nan, '983000',
       '5000000', '195000', '1590000', '1000000', '150000', '950000',
       '500000', '7500000', '225000', '10000000', nan, nan, '750000',
       '1251000', '350000', '200000', '720000', '1650000', '480000',
       '600000', '110000', '1100000', nan, '270000', '1800000', '550000',
       '200000', '825000', '2900000', '450000', '430000', '250000',
       '6600000', '490000', '300000', '600000', '1100000', '650000',
       '499000', '1000000', nan, '85000', '30000', '300000', '1200000',
       '395000', '95000', '1200000', '595000', '125000', '200000',
       '305000', '50000', '1650000', '275000', '7800000'], dtype=object)

In [16]:
print(type(rawData2["Cash Flow"].values))
print(rawData2["Cash Flow"].values)
[type(item) for item in rawData2["Cash Flow"].values][0:20]

<class 'numpy.ndarray'>
[nan '165000' nan '400000' nan nan nan '221999' nan '391214' '312000' nan
 nan '8750000' '86674' '50000' '840000' nan nan nan '110000' '43000'
 '216578' nan '192073' nan '229000' '76566' nan nan '302000' '247003'
 '220349' '66530' '355000' nan '162000' '75000' nan nan '150000' nan nan
 nan '255228' '85000' '257106' nan '387000' '350000' nan '142087' '90000'
 nan nan '129279' nan nan nan nan nan nan '527088' '12298' nan nan
 '181400' '182000' '400000' nan nan nan '740000' '293000' nan '160000'
 '436000' nan '700000' nan nan nan '95000' nan '800000' '179000' nan nan
 '1410581' nan '254000' nan '250000' '231607' '495000' nan '350000'
 '125000' nan '125000' '316000' nan '220000' '197000' nan nan '543675' nan
 '71053' nan nan '90000' '155122' nan nan '375000' '1040000' nan nan nan
 nan '465000' nan nan '1400000' '262000' '310000' '869347' '250000' nan
 nan '1800000' '620000' '169290' '165000' nan '79000' '130603' nan
 '330308' '270524' nan '900000' '324092' nan nan nan nan '441887' nan nan
 nan '796479' nan '71000' '304000' '167635' nan '440000' nan nan nan nan
 '228633' nan nan nan nan '307620' '128641' nan nan nan nan nan '910216'
 nan '257000' '639000' '392022' '100000' '408000' nan nan nan '210516' nan
 '174776' '592328' '117882' '319811' '305000' nan '307096' '1000000'
 '90000' '489790' '195004' nan '315487' '259000' '2018405' '70000' nan nan
 nan '276000' '358000' '386000' nan '624000' '1100000' nan '316000'
 '55000' '460000' nan '128000' '512000' '175000' nan '201465' '547701' nan
 '235980' nan nan '302000' '300000' '359000' nan '181321' nan nan nan nan
 nan nan '477000' '155000' nan '362000' nan nan nan '305000' nan '331000'
 '93000' '1563546']

[float,
 str,
 float,
 str,
 float,
 float,
 float,
 str,
 float,
 str,
 str,
 float,
 float,
 str,
 str,
 str,
 str,
 float,
 float,
 float]

In [17]:
[type(item) for item in rawData2["Asking Price"].str.replace(r"[$,]", "").astype(float)][0:20]

C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\2554931023.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  [type(item) for item in rawData2["Asking Price"].str.replace(r"[$,]", "").astype(float)][0:20]

[float,
 float,
 float,
 float,
 float,
 float,
 float,
 float,
 float,
 float,
 float,
 float,
 float,
 float,
 float,
 float,
 float,
 float,
 float,
 float]

In [18]:
rawData2["Asking Price"].str.replace(r"[$,]", "").astype(float)

C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\3894750695.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  rawData2["Asking Price"].str.replace(r"[$,]", "").astype(float)

0      1100000.0
1       580000.0
2       325000.0
3      2195000.0
4      6900000.0
         ...
245     305000.0
246      50000.0
247    1650000.0
248     275000.0
249    7800000.0
Name: Asking Price, Length: 250, dtype: float64

In [19]:
rawData2["Asking Price"].str.replace(r"[$,]", "").astype(float) / rawData2["Cash Flow"].str.replace(r"[$,]", "").astype(float)

C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\4216117084.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  rawData2["Asking Price"].str.replace(r"[$,]", "").astype(float) / rawData2["Cash Flow"].str.replace(r"[$,]", "").astype(float)

0           NaN
1      3.515152
2           NaN
3      5.487500
4           NaN
         ...
245    1.000000
246         NaN
247    4.984894
248    2.956989
249    4.988660
Length: 250, dtype: float64

In [20]:
rawData3 = rawData2

askingPrice = rawData2["Asking Price"].str.replace(r"[$,]", "").astype(float)
cashFlow    = rawData2["Cash Flow"].str.replace(r"[$,]", "").astype(float)

rawData3["P/E Ratio"] = round(askingPrice / cashFlow, 1)
rawData3["P/E Ratio"]

C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\720850752.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  askingPrice = rawData2["Asking Price"].str.replace(r"[$,]", "").astype(float)
C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\720850752.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  cashFlow    = rawData2["Cash Flow"].str.replace(r"[$,]", "").astype(float)

0      NaN
1      3.5
2      NaN
3      5.5
4      NaN
      ...
245    1.0
246    NaN
247    5.0
248    3.0
249    5.0
Name: P/E Ratio, Length: 250, dtype: float64

In [21]:
rawData3

,Position,Business Title,Location,Description,Asking Price,Cash Flow,Listing URL,Image,P/E Ratio
0,1,Established Pharmacy Franchise for Sale - Own ...,"Toronto, ON",This pharmacy is a leading supplier in the loc...,1100000,NaN,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...,NaN
1,2,Premium Men's Barbershop & Lifestyle Brand,"Toronto, ON","Based in Toronto, Ontario, the company operate...",580000,165000,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...,3.5
2,3,Automated Ai Lending Business In Ontario For Sale,"Whitby, ON",This is an exceptional opportunity to purchase...,325000,NaN,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...,NaN
3,4,Profitable Established Landscaping/Constructio...,"Vaughan, ON","This well-established, turnkey, and profitable...",2195000,400000,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...,5.5
4,5,Auto wreckers/recyclers/Auto parts store/Auto ...,"BURFORD, ON","Profitable Auto Recyclers, auto parts store ju...",6900000,NaN,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...,NaN
...,...,...,...,...,...,...,...,...,...
245,246,Retail Bakery & Coffee Shop - Unique and Profi...,"Ottawa, ON",**All dollar amounts are USD. All cash busines...,305000,305000,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...,1.0
246,247,The Cleaning Authority,Available in Canada,Investing in The Cleaning Authority franchise ...,50000,NaN,https://www.bizbuysell.com/franchise-for-sale/...,https://images.bizbuysell.com/fnw/images/369/3...,NaN
247,248,Remunerative and Leading Online Auction House,"SW Ontario, ON",This reliable online auction business speciali...,1650000,331000,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...,5.0
248,249,Digital Marketing Agency with Proven Track Record,"Home Based, ON",Explore an exclusive opportunity to step into ...,275000,93000,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...,3.0
249,250,Interior Architecture & Design Management,"Toronto, ON","The Firmsâ€™ services include interior styling, ...",7800000,1563546,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...,5.0

In [22]:
cleanData = rawData3
rawData3.to_csv("../Data/CleanData/cleanData.csv", index=False)

In [23]:
(1_311_437+1_536_331+2_342_499+2_018_405+1_450_601) / 5

1731854.6

In [24]:
1731854.6 * 3

5195563.800000001

### # Location

In [25]:
rawData4 = rawData3

In [26]:
rawData3['Location'].value_counts()

Toronto, ON             37
Ontario                 32
GTA, ON                 28
Available in Canada     24
Serving Ontario          8
                        ..
Carleton Place, ON       1
toronto, ON              1
$325,000                 1
Northern Ontario, ON     1
GTA North, ON            1
Name: Location, Length: 75, dtype: int64

In [27]:
len(rawData3['Location'].value_counts())

75

In [28]:
rawData3['Location'].unique()

array(['Toronto, ON', 'Whitby, ON', 'Vaughan, ON', 'BURFORD, ON', nan,
       'Brantford, ON', 'London, ON', 'Thunder Bay, ON', 'Ontario',
       'Available in Canada', 'Newmarket, ON',
       'South Western Ontario, ON', 'Serving Ontario', 'Mississauga, ON',
       'Greater Toronto Area, ON', 'Peel Region, ON', 'Brockville, ON',
       'Regional Municipality of Peel, ON', 'Hamilton, ON',
       'Regional Municipality of Niagara, ON', 'Simcoe County, ON',
       'St. Catharines, ON', 'Sarnia, ON', 'Halton Region, ON',
       'Renfrew, ON', 'Oakville, ON', 'Bowmanville, ON', 'Burlington, ON',
       'Halton Hills, ON', 'M5j 230, ON', 'Kingston, ON',
       'Oakville, Ontario, Canada, ON', 'Ontario West, ON',
       'Brampton, ON', 'GTA, ON', '$1,100,000', 'Aurora, ON',
       'Southern Ontario, ON', 'Confidential, ON', '$580,000',
       'Carleton Place, ON', 'toronto, ON', 'Niagara Region, ON',
       '$325,000', 'Northern Ontario, ON', 'Devlin, ON',
       'Rednersville, ON', '$2,195,000', 'Oshawa, ON', 'Windsor, ON',
       'Guelph, ON', 'Cambridge, ON', 'Soiuthwestern Ontario, ON',
       'Barrie, ON', 'Southwestern Ontario, ON', 'Waterloo Region, ON',
       'West of GTA, ON', '$6,900,000', '$2,199,900',
       'Central Ontario, ON', 'Plympton-Wyoming, ON', 'Ottawa Valley, ON',
       'Picton, ON', '$900,000', 'Etobicoke, ON', 'Port Perry, ON',
       'Ottawa, ON', 'SW Ontario, ON', 'Eastern Ontario, ON',
       'West GTA, ON', 'Hamilton / Niagara, ON', 'Markham, ON',
       'Ontario, ON', 'GTA East, ON', 'Home Based, ON', 'GTA North, ON'],
      dtype=object)

In [29]:
rawData3['Location'].nunique()

75

In [30]:
type(rawData3["Location"].str.replace(r"[$,0-9]", ""))

C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\2483792731.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  type(rawData3["Location"].str.replace(r"[$,0-9]", ""))

pandas.core.series.Series

In [31]:
rawData3["Location"].str.replace(r"[$,0-9]", "").unique()

C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\405011267.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  rawData3["Location"].str.replace(r"[$,0-9]", "").unique()

array(['Toronto ON', 'Whitby ON', 'Vaughan ON', 'BURFORD ON', nan,
       'Brantford ON', 'London ON', 'Thunder Bay ON', 'Ontario',
       'Available in Canada', 'Newmarket ON', 'South Western Ontario ON',
       'Serving Ontario', 'Mississauga ON', 'Greater Toronto Area ON',
       'Peel Region ON', 'Brockville ON',
       'Regional Municipality of Peel ON', 'Hamilton ON',
       'Regional Municipality of Niagara ON', 'Simcoe County ON',
       'St. Catharines ON', 'Sarnia ON', 'Halton Region ON', 'Renfrew ON',
       'Oakville ON', 'Bowmanville ON', 'Burlington ON',
       'Halton Hills ON', 'Mj  ON', 'Kingston ON',
       'Oakville Ontario Canada ON', 'Ontario West ON', 'Brampton ON',
       'GTA ON', '', 'Aurora ON', 'Southern Ontario ON',
       'Confidential ON', 'Carleton Place ON', 'toronto ON',
       'Niagara Region ON', 'Northern Ontario ON', 'Devlin ON',
       'Rednersville ON', 'Oshawa ON', 'Windsor ON', 'Guelph ON',
       'Cambridge ON', 'Soiuthwestern Ontario ON', 'Barrie ON',
       'Southwestern Ontario ON', 'Waterloo Region ON', 'West of GTA ON',
       'Central Ontario ON', 'Plympton-Wyoming ON', 'Ottawa Valley ON',
       'Picton ON', 'Etobicoke ON', 'Port Perry ON', 'Ottawa ON',
       'SW Ontario ON', 'Eastern Ontario ON', 'West GTA ON',
       'Hamilton / Niagara ON', 'Markham ON', 'Ontario ON', 'GTA East ON',
       'Home Based ON', 'GTA North ON'], dtype=object)

In [32]:
print("Number of rows:", len(rawData3["Location"].str.replace(r"[$,0-9]", "").replace(r'^\s*$', np.nan, regex=True).values))
rawData3["Location"].str.replace(r"[$,0-9]", "").replace(r'^\s*$', np.nan, regex=True).values[0:10]

Number of rows: 250

C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\2187885718.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  print("Number of rows:", len(rawData3["Location"].str.replace(r"[$,0-9]", "").replace(r'^\s*$', np.nan, regex=True).values))
C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\2187885718.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  rawData3["Location"].str.replace(r"[$,0-9]", "").replace(r'^\s*$', np.nan, regex=True).values[0:10]

array(['Toronto ON', 'Toronto ON', 'Whitby ON', 'Vaughan ON',
       'BURFORD ON', nan, 'Brantford ON', 'London ON', 'Thunder Bay ON',
       'Ontario'], dtype=object)

In [33]:
rawData3["Location"].str.replace(r"[$,0-9]", "").replace(r'^\s*$', np.nan, regex=True)[0:10]

C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\3306249396.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  rawData3["Location"].str.replace(r"[$,0-9]", "").replace(r'^\s*$', np.nan, regex=True)[0:10]

0        Toronto ON
1        Toronto ON
2         Whitby ON
3        Vaughan ON
4        BURFORD ON
5               NaN
6      Brantford ON
7         London ON
8    Thunder Bay ON
9           Ontario
Name: Location, dtype: object

In [34]:
rawData3["Location"].str.replace(r"[$,0-9]", "").replace(r'^\s*$', np.nan, regex=True).unique()

C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\3559694533.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  rawData3["Location"].str.replace(r"[$,0-9]", "").replace(r'^\s*$', np.nan, regex=True).unique()

array(['Toronto ON', 'Whitby ON', 'Vaughan ON', 'BURFORD ON', nan,
       'Brantford ON', 'London ON', 'Thunder Bay ON', 'Ontario',
       'Available in Canada', 'Newmarket ON', 'South Western Ontario ON',
       'Serving Ontario', 'Mississauga ON', 'Greater Toronto Area ON',
       'Peel Region ON', 'Brockville ON',
       'Regional Municipality of Peel ON', 'Hamilton ON',
       'Regional Municipality of Niagara ON', 'Simcoe County ON',
       'St. Catharines ON', 'Sarnia ON', 'Halton Region ON', 'Renfrew ON',
       'Oakville ON', 'Bowmanville ON', 'Burlington ON',
       'Halton Hills ON', 'Mj  ON', 'Kingston ON',
       'Oakville Ontario Canada ON', 'Ontario West ON', 'Brampton ON',
       'GTA ON', 'Aurora ON', 'Southern Ontario ON', 'Confidential ON',
       'Carleton Place ON', 'toronto ON', 'Niagara Region ON',
       'Northern Ontario ON', 'Devlin ON', 'Rednersville ON', 'Oshawa ON',
       'Windsor ON', 'Guelph ON', 'Cambridge ON',
       'Soiuthwestern Ontario ON', 'Barrie ON', 'Southwestern Ontario ON',
       'Waterloo Region ON', 'West of GTA ON', 'Central Ontario ON',
       'Plympton-Wyoming ON', 'Ottawa Valley ON', 'Picton ON',
       'Etobicoke ON', 'Port Perry ON', 'Ottawa ON', 'SW Ontario ON',
       'Eastern Ontario ON', 'West GTA ON', 'Hamilton / Niagara ON',
       'Markham ON', 'Ontario ON', 'GTA East ON', 'Home Based ON',
       'GTA North ON'], dtype=object)

In [35]:
rawData4['Location'] = rawData3["Location"].str.replace(r"[$,0-9]", "").replace(r'^\s*$', np.nan, regex=True)

C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_22608\836561378.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  rawData4['Location'] = rawData3["Location"].str.replace(r"[$,0-9]", "").replace(r'^\s*$', np.nan, regex=True)

In [36]:
rawData3["Location"]

0               Toronto ON
1               Toronto ON
2                Whitby ON
3               Vaughan ON
4               BURFORD ON
              ...
245              Ottawa ON
246    Available in Canada
247          SW Ontario ON
248          Home Based ON
249             Toronto ON
Name: Location, Length: 250, dtype: object

In [37]:
rawData4['Location']

0               Toronto ON
1               Toronto ON
2                Whitby ON
3               Vaughan ON
4               BURFORD ON
              ...
245              Ottawa ON
246    Available in Canada
247          SW Ontario ON
248          Home Based ON
249             Toronto ON
Name: Location, Length: 250, dtype: object

In [38]:
all(rawData4['Location'] == rawData3["Location"]) # Most likely not True because cannot compare NaN with NaN

False

In [39]:
all(rawData4['Location'].dropna() == rawData3["Location"].dropna()) # If drop NaN should give True.

True

In [40]:
rawData4

,Position,Business Title,Location,Description,Asking Price,Cash Flow,Listing URL,Image,P/E Ratio
0,1,Established Pharmacy Franchise for Sale - Own ...,Toronto ON,This pharmacy is a leading supplier in the loc...,1100000,NaN,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...,NaN
1,2,Premium Men's Barbershop & Lifestyle Brand,Toronto ON,"Based in Toronto, Ontario, the company operate...",580000,165000,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...,3.5
2,3,Automated Ai Lending Business In Ontario For Sale,Whitby ON,This is an exceptional opportunity to purchase...,325000,NaN,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...,NaN
3,4,Profitable Established Landscaping/Constructio...,Vaughan ON,"This well-established, turnkey, and profitable...",2195000,400000,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...,5.5
4,5,Auto wreckers/recyclers/Auto parts store/Auto ...,BURFORD ON,"Profitable Auto Recyclers, auto parts store ju...",6900000,NaN,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...,NaN
...,...,...,...,...,...,...,...,...,...
245,246,Retail Bakery & Coffee Shop - Unique and Profi...,Ottawa ON,**All dollar amounts are USD. All cash busines...,305000,305000,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...,1.0
246,247,The Cleaning Authority,Available in Canada,Investing in The Cleaning Authority franchise ...,50000,NaN,https://www.bizbuysell.com/franchise-for-sale/...,https://images.bizbuysell.com/fnw/images/369/3...,NaN
247,248,Remunerative and Leading Online Auction House,SW Ontario ON,This reliable online auction business speciali...,1650000,331000,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...,5.0
248,249,Digital Marketing Agency with Proven Track Record,Home Based ON,Explore an exclusive opportunity to step into ...,275000,93000,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...,3.0
249,250,Interior Architecture & Design Management,Toronto ON,"The Firmsâ€™ services include interior styling, ...",7800000,1563546,https://www.bizbuysell.com/Business-Opportunit...,https://images.bizbuysell.com/shared/listings/...,5.0

In [41]:
cleanData = rawData4

In [42]:
cleanData.to_csv("../Data/CleanData/cleanData.csv", index=False)

### # Franchise

In [43]:
# Want to label each business (row) if it is a business or not using business desciption or title.
rawData5 = rawData4

In [44]:
rawData4["Description"]

0      This pharmacy is a leading supplier in the loc...
1      Based in Toronto, Ontario, the company operate...
2      This is an exceptional opportunity to purchase...
3      This well-established, turnkey, and profitable...
4      Profitable Auto Recyclers, auto parts store ju...
                             ...
245    **All dollar amounts are USD. All cash busines...
246    Investing in The Cleaning Authority franchise ...
247    This reliable online auction business speciali...
248    Explore an exclusive opportunity to step into ...
249    The Firmsâ€™ services include interior styling, ...
Name: Description, Length: 250, dtype: object

In [ ]:
"franchise" in ""

In [59]:
["franchise" in item for item in rawData4["Business Title"]]

TypeError: argument of type 'float' is not iterable

In [60]:
[ type(item) for item in rawData4["Business Title"]]

[str,
 str,
 str,
 str,
 str,
 float,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 float,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 float,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 float,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 float,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 float,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 float,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 float,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 float,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 float,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 float,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 float,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 float,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 float,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 float,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 float,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str]

In [57]:
rawData4.str.contains("franchise")

AttributeError: 'DataFrame' object has no attribute 'str'

In [53]:
[item.str.contains("franchise") for item in rawData4["Business Title"]]

AttributeError: 'str' object has no attribute 'str'

### # Remove ads included in the data as rows.